@import "tailwindcss";

@theme {
  --color-bg: hsl(45, 0%, 94%);
  --color-text: hsl(45, 0%, 20%)
}


body {
  max-width: 25rem;
  margin-inline: auto;

  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
  color: var(--color-text);

  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

*::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}